<div class="row mt-3">
    <div class="col-md-6 mb-3 mb-md-0 pr-md-2">
        <div class="card border-0 shadow-sm bg-white h-100">
            <div class="card-body p-4">
                <div class="mx-2 my-1">
                    <h6>Experience</h6>
                    <ul class="list-unstyled mb-1">
                        {% for item in site.data.profile.experience %}
                        <li class="media mb-1">
                            <img src="{{ item.logo | relative_url }}" alt="{{ item.name }}" style="width: 18px;" class="mr-1 mt-1">
                            <div class="media-body">
                                <div>{{ item.name }}</div>
                                <div class="small">{{ item.dept }}</div>
                                <div class="small d-flex justify-content-between">
                                    <div>{{ item.position }}</div>
                                    <div class="mt-auto no-break text-right pl-2" style="min-width: 135px;"><em>{{ item.date }}</em></div>
                                </div>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

    {% if site.data.display.homepage.show_awards %}
    <div class="col-md-6 pl-md-2">
        <div class="card border-0 shadow-sm bg-white h-100">
            <div class="card-body p-4">
                <div class="mx-2 my-1">
                    <h6>Honors &amp; Awards</h6>
                    <ul class="list-unstyled mb-0">
                        {% assign featured = "" | split: "" %}
                        {% for award in site.awards %}
                          {% if award.featured_order %}
                            {% assign featured = featured | push: award %}
                          {% endif %}
                        {% endfor %}
                        {% assign featured = featured | sort: "featured_order" %}

                        {% for award in featured %}
                        <li class="media mb-2 align-items-baseline">
                            <div class="mr-2" style="min-width: 18px; text-align: center;">
                                {% assign icon_class = "text-primary" %}
                                {% assign icon_name = "fa-trophy" %}
                                {% if award.level contains "First" %}
                                    {% assign icon_class = "text-gold" %}
                                    {% assign icon_name = "fa-medal" %}
                                {% elsif award.level contains "Second" %}
                                    {% assign icon_class = "text-silver" %}
                                    {% assign icon_name = "fa-medal" %}
                                {% elsif award.level contains "Third" %}
                                    {% assign icon_class = "text-bronze" %}
                                    {% assign icon_name = "fa-medal" %}
                                {% elsif award.level == "Undergraduate" or award.level == "Postgraduate" %}
                                    {% assign icon_class = "text-scholarship" %}
                                    {% assign icon_name = "fa-graduation-cap" %}
                                {% endif %}
                                <i class="fas {{ icon_name }} {{ icon_class }}"></i>
                            </div>
                            <div class="media-body small">
                                <div>
                                    <span class="font-weight-bold text-dark">{{ award.title }}</span>
                                    {% if award.level %}
                                        {% assign badge_class = "badge-primary" %}
                                        {% if award.level contains "First" %}
                                            {% assign badge_class = "badge-gold" %}
                                        {% elsif award.level contains "Second" %}
                                            {% assign badge_class = "badge-silver" %}
                                        {% elsif award.level contains "Third" %}
                                            {% assign badge_class = "badge-bronze" %}
                                        {% elsif award.level == "Undergraduate" or award.level == "Postgraduate" %}
                                            {% assign badge_class = "badge-scholarship" %}
                                        {% endif %}
                                        <span class="badge badge-pill {{ badge_class }} ml-1 align-text-bottom" style="font-size: 0.7em;">{{ award.level }}</span>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="ml-auto mt-1 text-right text-muted" style="min-width: 60px;">
                                {{ award.date | date: "%Y" }}
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                    <div class="text-right mt-0">
                        <a href="{{ '/awards.html' | relative_url }}" class="small text-primary">More...</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>
