{% assign publications = include.publications %}
<div class="my-3 px-2 py-3 bg-white shadow-sm rounded-sm">
    <h6 class="border-bottom border-gray px-0 py-2 mb-0">
        {% if include.title %}{{ include.title }}{% else %}<i class="fas fa-star"></i> Selected Publications{% endif %}
        <a href="{{ 'publications' | relative_url }}">(view all <i class="fas fa-angle-double-right"></i>)</a>
    </h6>
    <div class="pl-3">   <!-- 新增这行：内容整体缩进一格 -->
    {% for item in publications limit:include.limit %}
        {% include widgets/publication_item.html item=item first=false last=false %}
    {% endfor %}
    </div>
    <h6 class="d-block px-0 py-2 mt-0 text-right">
        <a href="{{ 'publications' | relative_url }}">All publications <i class="fas fa-angle-double-right"></i></a>
    </h6>
</div>
